h3 {
  text-align: center;
  margin-bottom: 0;
}
.produtos {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.produtos li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  border-radius: 4px;
}
.produtos li:hover {
  color: #7e13c1;
  background-color: #DDD;
  left: .1em;
}
.produtos li.selected{
  background-color: #CFD8DC;
  color: #7e13c1;
}
.produtos .text {
  position: relative;
  top: -3px;
}
.produtos .detalhes {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #7e13c1;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
.nomeProduto {
  font-weight: bold;
}