<div>
	<h2>Produtos Cadastrados</h2>
	<ul class = "produtos">
		<li *ngFor = "let produto of produtos" (click) = "onSelect(produto)"
		 [class.selected] = "produto === produtoSelecionado" class = "detalhes" >
			<div class = "nomeProduto"><span></span>{{produto.nome | uppercase}}</div>
			<br>
			<div><span>Código: </span>{{produto.codigo}}</div>
			<div><span>Preço Unitário R$ </span>{{produto.precoUnitario}}</div>
			<br>
		</li>
	</ul>	
</div>

<app-produto-detalhes [produto]="produtoSelecionado"></app-produto-detalhes>