<div>
	<h3>Produtos Cadastrados</h3>
	<div class="formProdutoNovo">
		<label>Nome 
			<input type="text" />	
		</label>
		<label>Código
			<input type="text" />
		</label>
		<label>Preço Unitário R$ 
			<input type="number" step=0.01 min=0 />
		</label>
		<button (click)="putProduto()">Salvar Produto Novo</button>
	</div>
	<div class = "grid grid-pad">
		<a *ngFor = "let produto of produtos" routerLink="/produtoDetalhes/{{produto.id}}" class = "col-1-4">
			<div class = "module produto">
				<div class= "nomeProduto"><span></span>{{produto.nome | uppercase}}</div>
				<br>
				<div><span>Código: </span>{{produto.codigo}}</div>
				<div><span>Preço Unitário R$ </span>{{produto.precoUnitario.toFixed(2)}}</div>
				<br>
			</div>
		</a>
	</div>	
</div>